/* Coolors Exported Palette - https://coolors.co/f0ead2-dde5b6-adc178-a98467-6c584c */

/* CSS HEX */
--parchment: #f0ead2ff;
--tea-green: #dde5b6ff;
--olivine: #adc178ff;
--chamoisee: #a98467ff;
--umber: #6c584cff;

/* CSS HSL */
--parchment: hsla(48, 50%, 88%, 1);
--tea-green: hsla(70, 47%, 81%, 1);
--olivine: hsla(76, 37%, 61%, 1);
--chamoisee: hsla(26, 28%, 53%, 1);
--umber: hsla(23, 17%, 36%, 1);

/* SCSS HEX */
$parchment: #f0ead2ff;
$tea-green: #dde5b6ff;
$olivine: #adc178ff;
$chamoisee: #a98467ff;
$umber: #6c584cff;

/* SCSS HSL */
$parchment: hsla(48, 50%, 88%, 1);
$tea-green: hsla(70, 47%, 81%, 1);
$olivine: hsla(76, 37%, 61%, 1);
$chamoisee: hsla(26, 28%, 53%, 1);
$umber: hsla(23, 17%, 36%, 1);

/* SCSS RGB */
$parchment: rgba(240, 234, 210, 1);
$tea-green: rgba(221, 229, 182, 1);
$olivine: rgba(173, 193, 120, 1);
$chamoisee: rgba(169, 132, 103, 1);
$umber: rgba(108, 88, 76, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-right: linear-gradient(90deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-bottom: linear-gradient(180deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-left: linear-gradient(270deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-top-right: linear-gradient(45deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-bottom-right: linear-gradient(135deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-top-left: linear-gradient(225deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-bottom-left: linear-gradient(315deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-radial: radial-gradient(#f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);